<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Ahoy! Yarr Mad Libs Result arrrr below!</h1>
    <p>Ye can always pretend to be a bloodthirsty @Model.Noun1, threatening everyone by waving yer @Model.Adjective1 sword in the air, but until ye learn to @Model.Verb1 like a pirate, ye'll never be @Model.Adverb1 accepted as an authentic @Model.Noun2. So here's what ye do: Cleverly work into yer daily conversations @Model.Adjective2 pirate phrases such as "Ahoy there, @Model.PluralNoun1," "Avast, ye @Model.PluralNoun2," and "Shiver me @Model.PluralNoun3." Remember to drop all yer @Model.PluralNoun4 when ye say such words as sailin', spittin', and fightin'. This will give ye a/an @Model.PartOfBody1 start to being recognized as a swashbucklin' @Model.Noun3. Once ye have the lingo down pat, it helps to wear a three-cornered @Model.Noun4 on yer head, stash a/an @Model.Noun5 in yer pants, and keep a/an @Model.Noun6 perched atop yer @Model.PartOfBody2. Aye, now ye be a real pirate!</p>
  </body>
</html>
